@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Color system */
    /* Dark backgrounds */
    --color-dark-1: #0d0c11;
    --color-dark-2: #131219;

    /* Light text colors */
    --color-light-1: #ffffff;
    --color-light-2: #b8b8ba;
    --color-light-3: #87868d;
  }
}

/* Custom component classes */
@layer components {
  .text-hero-primary {
    @apply text-4xl md:text-7xl font-bold text-center bg-clip-text text-transparent bg-gradient-to-b from-neutral-50 to-neutral-400 bg-opacity-50;
  }

  .text-hero-secondary {
    @apply mt-4 font-normal text-base text-light-2 max-w-lg text-center mx-auto;
  }
}

@layer utilities {
  /* Custom utility classes for our colors */
  /* Dark backgrounds */
  .bg-dark-1 {
    background-color: var(--color-dark-1);
  }
  .bg-dark-2 {
    background-color: var(--color-dark-2);
  }

  /* Light text colors */
  .text-light-1 {
    color: var(--color-light-1);
  }
  .text-light-2 {
    color: var(--color-light-2);
  }
  .text-light-3 {
    color: var(--color-light-3);
  }
}
